.app {
  background-image: url('../background/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/


/*.error {*/
/*  border: red 1px solid;*/
/*}*/

/*.error-message {*/
/*  color: red;*/
/*}*/

/*.is-done {*/
/*  text-decoration: line-through;*/
/*  !*opacity: 0.5;*!*/
/*}*/

/*.active-filter {*/
/*  background-color: aqua;*/
/*}*/
